html {
  font-size: 62.5%;
<<<<<<< HEAD
  background-color: #FFE3B3;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 32px;
}
h2 {
  margin-bottom: 16px;
  font-size: 2.4rem;
  color: #323635;
  font-weight: bold;
}
p{
  font-size: 1.6rem;
  line-height: 26px;
  color: #747573;
}

/* dando estilos al header */

=======
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFE3B3;
}
h1 {
  margin-top: 32px;
  font-size: 3.2rem;
  text-align: center;
  font-weight: bold;
  color: #2BAB84;
}
h2 {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 2.4rem;
  color: #78CF67;
}
p{
  font-size: 1.6rem;
  line-height:26px;
  color: #484e4c;
}
>>>>>>> 312956313aae5ffc2315105403281ddda945ceb4
header{
  height: 100px;
  padding: 0 32px;
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
  align-items: center;
  background-color: #30B18B;
  color: #FFE3B3;
}
header span{
  font-size: 3.2rem;
  font-weight: 700;
=======
  align-items: center;
  justify-content: space-between;
  background-color: #2BAB84;
  color: #FFCA74;
}
header span {
  font-weight: 700;
  font-size: 3.2rem;
>>>>>>> 312956313aae5ffc2315105403281ddda945ceb4
}
header ul {
  width: 360px;
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD
header li {
  font-size: 1.8rem;
}

/* dando estilos al main  */

main {
  padding: 0 32px;
}
section {
  margin-top: 60px;
}
section ul {
  padding: 32px;
  list-style: circle;
}
section ul li {
  color: #747573;
  font-size: 1.8rem;
  font-weight: bold;
}
.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:  32px 0;
}


/* formulario */

form [type="text"]{
  width: 95%;
  padding: 32px;
  margin-top: 32px;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #30B18B;
  border-radius: 10px;
  background-color: transparent;
}
textarea{
  width: 95%;
  padding: 32px;
  margin-top: 32px;
  font-size: 1.6rem;
  border: none;
  border: 1px solid #30B18B;
  border-radius: 10px;
  background-color: transparent;
}


button {
  padding: 20px 32px;
  margin: 32px 0 100px 0;
  background: rgb(120,207,103);
  background: linear-gradient(90deg, rgba(120,207,103,1) 0%, rgba(43,171,132,1) 100%);
  border: none;
  border-radius: 10px;
}
button:hover {
  box-shadow: 7px 7px 10px 1px #30B18B;
  cursor: pointer;
}
button:active {
  color: #747573;
}

/* dando estilos al footer */

footer {
  height: 100px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30B18B;
}
=======
header ul li {
  font-size: 1.6rem;
  cursor: pointer;
}

main{
  padding: 0 32px;
}
main ul {
  padding-left: 32px;
  margin: 24px;
}
main li {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 44px;
  list-style: circle;
  color: #6d726b;
}
section{
  margin-top: 60px;
}
.container-img {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form [type="text"] {
  width: 96%;
  height: 40px;
  margin-top: 32px;
  padding: 16px;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #2BAB84;
  border-radius: 10px;
  background-color: transparent;
}
form textarea {
  width: 96%;
  height: 200px;
  margin-top: 32px;
  font-size: 1.6rem;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #2BAB84;
  border-radius: 10px;
  background-color: transparent;
}
button{
  margin: 32px 0 100px 0;
  padding: 16px 40px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;border: none;
  border-radius: 10px;
  background: rgb(120,207,103);
  background: linear-gradient(90deg, rgba(120,207,103,1) 0%, rgba(43,171,132,1) 100%);
}
button:hover{
  box-shadow: 7px 7px 14px 0px #2BAB84;
}
button:active{
  color: #6d726b;
}
footer {
  height: 100px;
  padding: 0 32px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2BAB84;
}
>>>>>>> 312956313aae5ffc2315105403281ddda945ceb4
