@import "./global";
@import "./search";
@import "./btn";
@import "./card";
//header
header .logo {
  display: inline-block;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  color: #282538;
}
.header__img {
  width: 100%;
  height: 180px;
  display: grid;
  place-items: center;
  position: relative;
  margin-bottom: 30px;
  border-radius: 8px;
  background-image: url("https://picsum.photos/350/180");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//main

.country-option {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 23px;
}

//footer
footer {
  height: 60px;
  margin-top: 10px;
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  color: $grey-color;
}

//profile.html

.back {
  color: $secondary-color;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  a {
    display: flex;
    align-items: center;
  }
}
.about {
  width: 230px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 36px;
}
.profile-container {
  display: flex;
  margin: 34px 0;
  img {
    border-radius: 4px;
    margin-right: 13px;
  }
  em {
    font-weight: bold;
    font-size: 18px;
  }
}
//responsive, trabajando con mabile-first and
@media (max-width:965px){
  .navegar {
    display: none;
  }
}
@media (min-width: 966px) {
  .navegar {
    display: inline-block;
  }
  .header__img {
    background-image: url("https://picsum.photos/900/180");
  }
  .container-cards {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .card__info--details {
    position: absolute;
    right: 13px;
    bottom: 13px;
  }
  @import "./navegar";
}
@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
  .container-cards {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
}
