* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
/* estilos generales  */
h1,
h2 {
    font-weight: bold;
    color: #ffffff;
}
h1 {
    font-size: 2.8rem;
    line-height: 33px;
}
h2 {
    font-size: 2rem;
    line-height: 26px;
}
h3 {
    font-size: 3rem;
    margin-top: 50px;
    text-align: center;
    color: #000000;
}
p {
    font-family: Arial;
    font-size: 1.4rem;
    line-height: 22px;
    color: #ffffff;
}
ul {
    list-style: none;
}
li {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #242a59;
}


/* header y footer */

header, footer {
    height: 100px;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 4px 10px #e5e5e5;
}
footer {
    box-shadow: 1px -4px 10px #e5e5e5;

}
.footer p {
    color: #000;
}

header img {
    width: 120px;
    height: 37px;
}
nav ul {
    width: 360px;
    display: flex;
    justify-content: space-between;
}
/* main */

main {
    padding: 20px 50px 50px 50px;
}
.serch {
    position: relative;
    margin-bottom: 50px;
}
.serch input {
    width: 100%;
    height: 43px;
    position: relative;
    padding: 0 20px;
    background: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}
.serch .icon {
    position: absolute;
    right: 20px;
    z-index: 20;
    top: 10px;
}

/* dando estilos al banner */

.banner {
    width: 100%;
    height: 346px;
    display: grid;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: 507px 392px;
    grid-template-rows: 346px;
}
.banner-img {
    position: relative;
}

.info {
    margin-top: 50px;
}
.author-date {
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 20px;

    display: flex;
    justify-content: space-between;
}
/* cartas */
.card {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info-card {
    position: absolute;
    background: linear-gradient(to top, #1d1842 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 16px;
}

/* dando estilos a los botones */

.banner-container__img button {
    position: absolute;
    top: 20px;
    right: 20px;
}
button {
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color:#fff;
}

.btn__back-end {
    background: #ad195a;
}
.btn__front-end {
    background: #26a6be;
}
.btn__servidores {
    background: #213576;
}

/* article */
.container-article {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 393px 393px;
    gap: 2px 20px;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 1s;
}

/* responsive */

@media (max-width: 1090px){
    header {
        flex-direction: column;
        padding: 10px;
    }
    ul {
        width: 350px;
    }
    .banner{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 30px;
    }
    .card-container { 
        width: 78%;
    margin: 0 auto; 
    }
    .article-container{
    margin-top: 450px;
    }
    .container-article  {
        grid-template-columns: auto;
    }
  }